name: Deploy Latest tag

on:
  release:
    types: [published, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

jobs:
  deploy-mcp:
    name: Deploy MCP Production
    uses: ./.github/workflows/deploy.yaml
    secrets: inherit
    with:
      environment: prod
