name: Deploy Staging

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - '.github/workflows/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: false

env:
  PORT: 3000

jobs:
  deploy-mcp:
    name: Deploy API to Development
    uses: ./.github/workflows/deploy.yaml
    secrets: inherit
    with:
      environment: staging